{% load static %}
<html>
    <head>
        <title>
            Faraz Abisha's Story8
        </title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel = "stylesheet" type = "text/css" href = "{% static 'anim.css' %}">
        <link rel = "stylesheet" type = "text/css" href = "{% static 'style.css' %}">
        <style>
            .background-image{
                background-image: url('https://i.guim.co.uk/img/media/998a0f399b8b86b4e826ee7d0283b1964ed556c2/0_200_3000_1800/master/3000.jpg?width=700&quality=85&auto=format&fit=max&s=08b4eb4a7b46c2b38fb6f7ddc23937d9');
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        </style>
    </head>

    <body class="background-image">
        <div class="container">
            <div class="row">
                <div class="col-md-8 justify-content-center">
                    <h3 class="line font-weight-bold">Faraz Abisha's Story 8</h3>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-8">
                  <ul>
                    <li>
                    <button class="accordion text-monospace font-weight-bold" name="activities">
                        Current Activities
                    </button>
                    <div class="panel">
                        <ul class="text-monospace">
                            <li>Study</li>
                            <li>Gaming</li>
                            <li>Watch Netflix</li>
                            <li>Sleep</li>
                        </ul>
                    </div>
                    <button onclick="up()" name="button1up">↑</button>
                    <button onclick="down()" name="button1down">↓</button>
                  </li>
                    <li>
                    <button class="accordion text-monospace font-weight-bold" name="experience">
                        Committee/Organization Experience
                    </button>
                    <div class="panel">
                        <ul class="text-monospace">
                            <li>Staff of Equipment and Logistics, Wisuda Ganjil 2020 Fasilkom UI</li>
                            <li>Staff of Futsal Planner, PERAK Fasilkom UI</li>
                            <li>Staff of Direct Marketing, COMPFEST 12</li>
                        </ul>
                    </div>
                    <button onclick="up()" name="button2up">↑</button>
                    <button onclick="down()" name="button2down">↓</button>
                </li>
                  <li>
                    <button class="accordion text-monospace font-weight-bold" name="achievements">
                        Achievements
                    </button>
                    <div class="panel">
                        <ul class="text-monospace">
                            <li>Silver Medal, Kompetisi Matematika Nalaria Realistik ke-12, 2017, Bogor</li>
                            <li>Participant, OSN Komputer 2018, Padang</li>
                        </ul>
                    </div>
                    <button onclick="up()" name="button3up">↑</button>
                    <button onclick="down()" name="button3down">↓</button>
                  </li>
                  <li>
                    <button class="accordion text-monospace font-weight-bold" name="contact">
                        Contact Me
                    </button>
                    <div class="panel">
                        <ul class="text-monospace">
                            <li>✉ mohammad.faraz@ui.ac.id</li>
                            <li><a href="instagr.am/farazabisha">Instagram</a></li>
                            <li><a href="twitter.com/kelasonlen">Twitter</a></li>
                        </ul>
                    </div>
                    <button onclick="up()" name="button4up">↑</button>
                    <button onclick="down()" name="button4down">↓</button>
                  </li>
                </ul>
              </div>
          </div>
        </div>


        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            
            for (i = 0; i < acc.length; i++) {
              acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                  panel.style.maxHeight = null;
                } else {
                  panel.style.maxHeight = panel.scrollHeight + "px";
                } 
              });
            }

            function down(){
              $(event.currentTarget.parentNode).insertAfter($(event.currentTarget.parentNode.nextElementSibling))
            }
            function up(){
              $(event.currentTarget.parentNode.previousElementSibling).insertAfter($(event.currentTarget.parentNode))
            }
            </script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>

</html>