.accordion {
    background-color: #c44;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.7s;
  }
  
  .active, .accordion:hover {
    background-color: #c96347;
  }
  
  .panel {
    padding: 0 18px;
    background-color: #c88888;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }